# Created by venv; see https://docs.python.org/3/library/venv.html
# Ambiente virtual
venv/
.venv/

# Variáveis de ambiente
.env
variaveis.env

# Cache Python
__pycache__/
*.pyc

# IDEs
.vscode/
.idea/

# Sistema operacional
.DS_Store
Thumbs.db